body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 25px;
}
textarea {
  height: 15vh
}
.name {
  background-color: black;
  color: white
}

#name, #qty, #purpose, #chkBox, .ItemCard {
  background-color: black;
  color: white;
  display:block;
  margin: 15px 0;
  border: 1px whitesmoke solid;
  padding: 5px;
  width: 100%;
}

#addBtn {
  float: right;
  margin-right: -10px;
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px greenyellow solid;
  cursor: pointer;
}
.ItemCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.deleteBtn {
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  margin: 5px;
  padding: 5px 25px;
}

.error {
  color: red;
}